<form method="POST" action="/songs">
  <input type="hidden" id="hidden" name="_method" value="patch">
  <label>Name: </label>
  <input id="Name" name="song_name" type="text" value="<%=@song.name%>"/>
  <% @song.genres.each do |genre| %>
    <input type="checkbox" checked id="<%=genre.name%>" value="<%=genre.name%>" name="genre_name"/>
  <% end %>
  <input id="Artist Name" type="text" name="artist_name"/>
  <input type="submit" id="Save" value="Update"/>
</form>
