<h1>Welome to My_Playlist!</h1>

<h4>Menu</h4>
<ul>
  <li><a href="/songs/new">Create a New Song</a></li>
  <li><a href="/songs">See All the Songs</a></li>
  <li><a href="/artists">See All the Artists</a></li>
  <li><a href="/genres">See All the Genres</a></li>
</ul>
