<h1>Welcome to my Sinatra Play Lister</h1>
<h3><a href="/songs">Display the music library</a></h3>
<h3><a href="/artists">Display artists</a></h3>
<h3><a href="/genres">Display genres</a></h3>
<h3><a href="/songs/new">Save a new music into the library</a></h3>
